@using TakeATrip.Web.HtmlExtensions
@using TakeATrip.Entities.IdentityDB
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul id="cat_nav">
    <li><a asp-action="Index" class="@ManageNavPages.ProfileNavClass(ViewContext)"><i class="icon-user"></i>Profile</a></li>
    <li><a asp-action="ChangePassword" class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><i class="icon_document_alt"></i>Password</a></li>
    @if (User.IsInRole("Partner"))
    {
    <li><a asp-action="YourTrip" class="@ManageNavPages.YourTripNavClass(ViewContext)"><i class="icon_document_alt"></i>Your Trip</a></li>    
    }
    @if (hasExternalLogins)
    {
        <li><a asp-action="ExternalLogins" class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><i class="icon_document_alt"></i>External logins</a></li>
    }
    <li><a asp-action="TwoFactorAuthentication" class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><i class="icon_document_alt"></i>Two-factor authentication</a></li>
</ul>
