@model TakeATrip.Services.Models.TourModels.TourPage;
<link href="~/css/custom.css" rel="stylesheet" />
<div class="row">
    @foreach (var item in Model.Items)
    {
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="box_grid">
            <figure>
                <a href="#0" class="wish_bt"></a>
                <a asp-controller="Tour" asp-action="Update" asp-route-id="@item.Id"><img src="@item.ThumbNail" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                <small>Historic</small>
            </figure>
            <div class="wrapper">
                <h3><a asp-controller="Tour" asp-action="Detail" asp-route-id="@item.Id">@item.TourName</a></h3>
                <label class="shortcontent">@item.ShortContent</label>
                <span class="price">From <strong>@item.Price VND</strong></span>
            </div>
            <ul>
                <li><i class="icon_clock_alt"></i> @item.Duration</li>
                <li><div class="score"><span>Rate<em>@item.ToTalReViews reviews</em></span><strong>@item.Rates</strong></div></li>
            </ul>
        </div>
    </div>
    }
    <input asp-for="PageIndex" class="form-control" type="text" hidden="hidden">
</div>