@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using TakeATrip.Entities.IdentityDB
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    string branchName = "TakeATrip";
}

<div id="login_bg">

    <nav id="menu" class="fake_menu"></nav>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    <!-- End Preload -->

    <div id="login">
        <aside>
            <figure>
                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo_sticky.png" width="155" height="36" data-retina="true" alt="" class="logo_sticky"></a>
            </figure>

            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                <div class="access_social">
                    <form id="frmExternalLogin" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        @foreach (var provider in loginProviders)
                        {

                            <button type="submit" class="btn_1 rounded full-width social_bt @provider.Name.ToLower()" name="provider" value="@provider.Name" title="Login with @provider.DisplayName">Login with @provider.DisplayName</button>
                            
                        }
                    </form>                    
                </div>
            }
            <div class="divider"><span>Or</span></div>
            <form asp-controller="Account" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <i class="icon_mail_alt"></i>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <i class="icon_lock_alt"></i>
                </div>
                <div class="clearfix add_bottom_30">
                    <div class="checkboxes float-left">
                        <label asp-for="RememberMe" class="container_check">
                            @Html.DisplayNameFor(m => m.RememberMe)
                            <input asp-for="RememberMe">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="float-right mt-1"><a id="forgot" asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a></div>
                </div>
                <button type="submit" class="btn_1 rounded full-width">Login to @branchName</button>
                <div class="text-center add_top_10">New to @branchName? <strong><a asp-controller="Account" asp-action="Register">Sign up!</a></strong></div>
            </form>
            <div class="copy">© 2018 @branchName</div>
        </aside>
    </div>
</div>
<!-- /login -->

